.container {
    display: flex;
    justify-content: space-evenly;
    padding: 5em;
}


.iconitem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconheader{
    font-size: 2.5rem;
    font-weight: 600;
    color: #2767c7;
    margin-bottom: 0.5rem;
}

.iconsub{
    font-size: 1.25rem;
    color: #666;
}